.car_option {
    max-width: 550px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all .3s ease-out;    
    border-width: 3px;
    border-style: solid;
    margin-top: 30px;
    font-size: 24px;
}

.car_name {
    font-size: 24px;
    font-weight: bold;
}

.active .car_name {
    color: #fff;
    font-size: 28px;
    transition: .1s all ease-out;
}

.car_option.active {
    color: #fff;
    clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0% 100%);
    padding-left: calc(18%);
}

.default {
    color: #000;
    background-color: #fff;
}

@media (max-width: 400px) {
    .car_option {
        padding-right: 10px;    
    }
    .car_name {
        font-size: 20px;
    }
    .active .car_name {
        font-size: 24px;
    }
}