.car_option {
    width: 80%;
    margin-left: auto;
    padding: 20px 25px;
    cursor: pointer;
    transition: all .3s ease-out;    
    border-width: 3px;
    border-style: solid;
    margin-top: 30px;
    font-size: 24px;
}

.car_name {
    font-size: 24px;
    font-weight: bold;
}

.car_name.active {
    color: #fff;
    font-size: 28px;
}

.car_option.active {
    width: 100%;
    color: #fff;
    font-size: 28px;
    clip-path: polygon(18% 0, 100% 0%, 100% 100%, 0% 100%);
    padding-left: calc(18%);
}

.default {
    color: #000;
    background-color: #fff;
}