.btn {
    height: 50px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: #6F08A9;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .btn {
        font-size: 18px;
        padding: 5px 15px;
    }
}