.car_photo{
    display: block;
    box-sizing: border-box;
    width: 550px; 
    height: 450px;
    /* by default */
    border: 10px solid #6F08A9;
}

.car_photos_slider {
    transition: all .3s ease-out;
}

@media (max-width: 400px) {
    .car_photo {
        max-width: 100%;
        height: auto;
    }
}