.wrapper {
    position: relative; 
}

.arrow {
    fill: #000;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45%;
}
.left {
    left: -5px;
    transform: rotate(90deg);
}

.right {
    right: -5px;
    transform: rotate(-90deg);
}

@media (max-width: 400px) {
    .arrow {
        top: 70%;
    }
}