.colored_bar {
    height: 110%;
    border-radius: 20px;
    position: relative;
    top: -1px;
    left: -2px;     
    transition: all 0.3s ease-out;
}

.bar {
    border: 1px solid #D4D4D4;
    border-radius: 20px;
}