.wrapper {
    background-color: #A821E6;
    /* height: 70px;    */
}

.nav_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_items a {
    font-weight: bold;   
    color: #fff;
    padding: 20px 25px;
}

@media (max-width: 400px) {
    .nav_items a {
        display: inline-block;
        text-align: center;
        padding: 10px;
    }
}