.hero_img {
    border: 2px solid #000;
    padding: 10px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #000;
}   

@media (max-width: 400px) {
    .hero_img {
        margin: 0 10px;
    }
}