.quote {
    align-self: flex-start;
    max-width: 500px;
    background-color: #fff;
    line-height: 140%;
    padding: 55px 25px 50px 40px;
    font-style: italic;
    position: relative;
    right: -50px;
    top: -50px;
}

.quote span {
    max-width: 415px;
}

.backticks img{
    width: 75px;
    height: 75px;
    position: absolute;
    top: -35px;
    left: 10px;
}

@media (max-width: 400px) {
    .quote {
        top: 0;
        right: 0;
        padding: 25px 10px 20px 30px;
        margin-bottom: 20px;
    }
    .backticks img {
        width: 50px;   
        height: 50px;
        top: -25px;
    }
}