.heading {
    color: #fff;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;    
}

.character {
    text-align: center;
}

.image {
    max-width: 555px;
    height: 565px;   
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    .image {
        max-width: 250px;
        height: auto;
    }
}